////// Imports
@import 'mixin';
@import "hacks";
// Google font imports
@import 'https://fonts.googleapis.com/css?family=Montserrat|Raleway';

////// Fonts
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

////// Colours
// These are the logo colours
$green-logo: #92B74F;
$yellow-logo: #FEEF41;
$grey-logo: #343434;
$brown-logo: #866825;
// Other colours
$transparent-90: rgba(255, 255, 255, 0.1);
$grey-lower: #606060;
$grey-lowest: #8e8e8e;
$grey-hard: #2F2F2F;
$green-logo-shadow: #6C8D44;
$white: #f6f6f6;


////// Body
body {
  background-color: $grey-logo;
  font-family: $montserrat;
  margin: 0;
}

////// Text
.gigantic-title {
  font-family: $montserrat;
  font-size: 58px;
  font-weight: bold;
  color: $green-logo;
  line-height: normal;
}
.gigantic-subtitle {
  @extend .gigantic-title;
  font-size: 34px;
  color: $grey-lower;
  padding-top: 0px;
}
p {
  // This is for clear the gaps between divs with p
  margin: 0px;
}
a {
  text-decoration: none;
}


////// Input


////// Buttons
// Initial button value
.button-preset {
  @include hacks;
  background-color: transparent;
  padding: 7px 30px 8px 30px;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1;
  border-color: $grey-lower;
  color: $grey-lower;
  text-transform: uppercase;
  @include transition(
    color, border-color 0.1s ease-out
    );
  &:hover {
    color: $grey-lowest;
    border-color: $green-logo-shadow;
  }
}
// Button with underline animation
.button-center-underline {
  @extend .button-preset;
	position: relative;
	overflow: hidden;
  text-transform: uppercase;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		right: 50%;
		bottom: 0px;
		background: $green-logo;
		height: 3px;
		@include transition(left 0.1s ease-out, right 0.1s ease-out);
	}
	&:hover,
	&:focus,
	&:active {
		&:before {
			left: 0;
			right: 0;
		}
	}
}


////// Header
.header-background {
  background-repeat: no-repeat;
  background-position: center;
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
  left:0;
  z-index: -1;
  // width, height : ViewportWidth, ViewportHeight
  background-size: auto 100vh;
}
.header-content {
  height: 100vh;
  background:transparent;
  text-align: right;
  //padding: 0px 40px 0px 40px;
}
.header-background-grey {
  @extend .header-background;
  @extend .bg-grey;
}
.header-background-green {
  @extend .header-background;
  @extend .bg-green;
}
.header-background-img {
  @extend .header-background;
  background-position: 0% 50%;
  background-image: url("/svgs/tree.svg");
}
.header-background-img-bg {
  @extend .header-background;
  background-repeat: repeat-x;
  background-image: url("/svgs/mountain.svg");
  // X, Y
  background-position: 0 100%;
}


////// Navbar
.navbar {
  height: 65px;
  width: 100%;
  z-index: 1;
  background-color: $grey-hard;
  cursor: pointer;
}
.navbar-fixed {
  top: 0px;
  position: fixed;
}
.navbar-parent {
  height: 65px;
}
.navbar-logo {
  display: block;
  height: 65px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  fill: $green-logo;
}
.navbar-clickable {
  @extend .navbar;
  position: absolute;
  background-color: transparent;
}
.navbar-side {
  @include transform(translateZ(0));
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $grey-hard;
  @include transition(width 0.3s ease);
}
.navbar-side-open {
  width: 280px;
}


////// Background colors
.bg-grey {
  background-color: $grey-logo;
}
.bg-green {
  background-color: $green-logo;
}
.bg-white {
  background-color: $white;
}


////// Background transition (transparent to color)
// If mobile, the transition is right to left
@media (max-width: 768px) {
  .bg-transition::before {
    content: "";
    position: absolute;
    z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    background: $green-logo;
    transform: scaleY(0);
    transform-origin: 50% 0;
    @include transition(transform);
  }
  .bg-transition:hover::before {
    transform: scaleY(1);
  }
}
// If not mobile, transition is from top to bottom
@media (min-width: 768px) {
  .bg-transition::before {
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: $green-logo;
    @include transition(height);
  }
  .bg-transition:hover::before {
    height: 100%;
  }
}


////// Border width transition
.bc-transition {
  border-style: solid;
  border-width: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: $green-logo ;
  @include transition(border-width 0.1s linear);
}
.bc-transition:hover {
  border-width: 4px;
}


////// Others
.float-right {
  float:right;
}

.allign-right {
  text-align: right;
}

.padding-60 {
  padding-top: 60px;
}

.padding-20 {
  padding-top: 20px;
}
