
<div class="row card-holder">
  <div class="card-3x1">
    <div class="header"><img src="/icons/eye.svg"/></div>
    <div class="text">
      <p class="title">Visitas</p>
      <p>000.000</p>
    </div>
  </div>
  <div class="card-3x1">
    <div class="header"><img src="/icons/heart.svg"/></div>
    <div class="text">
      <p class="title">Favoritos</p>
      <p>000.000</p>
    </div>
  </div>
  <div class="card-3x1">
    <div class="header"><img src="/icons/banknote.svg"/></div>
    <div class="text">
      <p class="title">Ganancias</p>
      <p>$ 000.000</p>
    </div>
  </div>
  <div class="card-3x1">
    <div class="header"><img src="/icons/mail.svg"/></div>
    <div class="text">
      <p class="title">Suscriptores</p>
      <p>0</p>
    </div>
  </div>
</div>