@import 'https://fonts.googleapis.com/css?family=Montserrat|Raleway';
body {
  background-color: #343434;
  font-family: "Montserrat", sans-serif; }

.navbar-default {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  -moz-box-shadow: 0 0 0 0 black;
  -webkit-box-shadow: 0 0 0 0 black;
  box-shadow: 0 0 0 0 black; }

.navbar-brand {
  color: #92B74F !important; }

@media (min-width: 768px) {
  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    margin-left: 0px !important; } }

nav ul li {
  background-color: transparent; }

.header-background, .header-background-grey, .header-background-green, .header-background-img {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1; }

.header-content {
  height: 100vh;
  background: transparent; }

.header-background-img {
  background-image: url(""); }

.bg-grey, .header-background-grey {
  background-color: #343434; }

.bg-green, .header-background-green {
  background-color: #92B74F; }

@media (max-width: 768px) {
  .bg-transition::before {
    content: "";
    height: 100%;
    width: 0%;
    position: absolute;
    background-color: #92B74F;
    -webkit-transition: width 0.2s;
    transition: width 0.2s; }
  .bg-transition:hover::before {
    width: 100%; } }

@media (min-width: 768px) {
  .bg-transition::before {
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: #92B74F;
    -webkit-transition: height 0.2s;
    transition: height 0.2s; }
  .bg-transition:hover::before {
    height: 100%; } }

.bc-transition {
  border-style: solid;
  border-width: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #92B74F;
  -webkit-transition: border-width 0.1s linear;
  transition: border-width 0.1s linear; }

.bc-transition:hover {
  border-width: 4px; }
