@import 'https://fonts.googleapis.com/css?family=Montserrat|Raleway';
body {
  background-color: #343434;
  font-family: "Montserrat", sans-serif;
  margin: 0; }

.gigantic-title, .gigantic-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: #92B74F;
  line-height: normal; }

.gigantic-subtitle {
  font-size: 34px;
  color: #606060;
  padding-top: 0px; }

p {
  margin: 0px; }

a {
  text-decoration: none; }

.button-preset, .button-center-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  padding: 7px 30px 8px 30px;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1;
  border-color: #606060;
  color: #606060;
  text-transform: uppercase;
  -webkit-transition: color 0.2s, border-color 0.1s ease-out;
  transition: color 0.2s, border-color 0.1s ease-out; }
  .button-preset:hover, .button-center-underline:hover {
    color: #8e8e8e;
    border-color: #6C8D44; }

.button-center-underline {
  position: relative;
  overflow: hidden;
  text-transform: uppercase; }
  .button-center-underline:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0px;
    background: #92B74F;
    height: 3px;
    -webkit-transition: left 0.1s ease-out, right 0.1s ease-out;
    transition: left 0.1s ease-out, right 0.1s ease-out; }
  .button-center-underline:hover:before, .button-center-underline:focus:before, .button-center-underline:active:before {
    left: 0;
    right: 0; }

.header-background, .header-background-grey, .header-background-green, .header-background-img, .header-background-img-bg {
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: auto 100vh; }

.header-content {
  height: 100vh;
  background: transparent;
  text-align: right; }

.header-background-img {
  background-position: 0% 50%;
  background-image: url("/svgs/tree.svg"); }

.header-background-img-bg {
  background-repeat: repeat-x;
  background-image: url("/svgs/mountain.svg");
  background-position: 0 100%; }

.navbar, .navbar-clickable {
  height: 65px;
  width: 100%;
  z-index: 1;
  background-color: #2F2F2F;
  cursor: pointer; }

.navbar-fixed {
  top: 0px;
  position: fixed; }

.navbar-parent {
  height: 65px; }

.navbar-logo {
  display: block;
  height: 65px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  fill: #92B74F; }

.navbar-clickable {
  position: absolute;
  background-color: transparent; }

.navbar-side {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2F2F2F;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.navbar-side-open {
  width: 280px; }

.bg-grey, .header-background-grey {
  background-color: #343434; }

.bg-green, .header-background-green {
  background-color: #92B74F; }

.bg-white {
  background-color: #f6f6f6; }

@media (max-width: 768px) {
  .bg-transition::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #92B74F;
    transform: scaleY(0);
    transform-origin: 50% 0;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s; }
  .bg-transition:hover::before {
    transform: scaleY(1); } }

@media (min-width: 768px) {
  .bg-transition::before {
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: #92B74F;
    -webkit-transition: height 0.2s;
    transition: height 0.2s; }
  .bg-transition:hover::before {
    height: 100%; } }

.bc-transition {
  border-style: solid;
  border-width: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #92B74F;
  -webkit-transition: border-width 0.1s linear;
  transition: border-width 0.1s linear; }

.bc-transition:hover {
  border-width: 4px; }

.float-right {
  float: right; }

.allign-right {
  text-align: right; }

.padding-60 {
  padding-top: 60px; }

.padding-20 {
  padding-top: 20px; }
