.row.card-holder
  .card-3x1
    .header
      img(src="/icons/eye.svg")
    .text
      p.title Visitas
      p 000.000

  .card-3x1
    .header
      img(src="/icons/heart.svg")
    .text
      p.title Favoritos
      p 000.000

  .card-3x1
    .header
      img(src="/icons/banknote.svg")
    .text
      p.title Ganancias
      p $ 000.000

  .card-3x1
    .header
      img(src="/icons/mail.svg")
    .text
      p.title Suscriptores
      p 0
