.row
  .col-xs-3.no-padding
    .card
      h3 users
  .col-xs-3.no-padding
    .card.card-no-left
      h3 asd2a
  .col-xs-3.no-padding
    .card.card-no-left
      .card-header
        p Facebook
      h3 Copyright (c) 2016 Copyright Holder All Rights Reserved.
  .col-xs-3.no-padding
    .card.card-no-left
      h3 Copyright (c) 2016 Copyright Holder All Rights Reserved.
