include layout.pug

body
  include navbar.pug


  .header
    .header-parallax
  .content
    .container
      .padding
      .row
        .col-xs-0.col-sm-0.col-lg-1
        .col-xs-12.col-sm-6.col-lg-5.allign-right
          p.gigantic-title ¡Registrate ahora!
          br
          p.gigantic-subtitle Empieza a disfrutar de todos nuestros beneficios, incluidos beneficios sexuales por parte de nuestro experto en back-end

        .col-xs-12.col-sm-6.col-lg-5.allign-left
          form
            input(type="text", placeholder="Nombre", class="input")
            input(type="email", placeholder="Correo Electronico", class="input")
            input(type="password", placeholder="Contraseña", class="input")
            br
            br
            center
              button(type="submit") Registrarse
        .col-xs-0.col-sm-0.col-lg-1

  .container.styled-content
    p Algo
    br
    br

    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd
    p Algo
    br
    br
    br
    p asd

  include scripts.pug
