extends layout

block content


  //- Gigantic header background
  .header-background-img-bg
  .header-background-img
  //- What is inside the gigantic header background
  .header-content
    .container
      .padding-60
      .padding-60
      .gigantic-title Devadasdasd asdasd
        .gigantic-subtitle Somethingngngng!

  //- Used as wraper, so the content won't jump when the fixed navbar comes!
  .navbar-parent
    //- Navbar
    .navbar#navbar
      //- SVG logo
      .navbar-clickable
      object(data="/svgs/Dev.svg", type="image/svg+xml")#nav-devfly.navbar-logo

  .navbar-side
    p something

  .bg-white#body-when-navbar
    .container
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
      p Algo
      br
      br
      br
      p asd
