extends layout

block content

  //- Gigantic header background
  .header-background-img-bg
  .header-background-img
  //- What is inside the gigantic header background
  .header-content

    //- Navigation bar
    nav.navbar.navbar-default
      .container
        .navbar-header
          //- Button for mobile uncollapse
          button.navbar-toggle.collapsed(
            type='button'
            data-toggle='collapse'
            data-target='#index-navbar'
            aria-expanded='false'
          )
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //-Brand link if needed
          a(href='#').navbar-brand.bc-transition DevFly

        #index-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
          ul.nav.navbar-nav.navbar-right
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link

    //- More stuff inside Gigantic header
    .container
      .row
        .col-xs-0.col-sm-4
        .col-xs-12.col-sm-8
          .gigantic-title Titulo llamativo
          .gigantic-subtitle Frase poetica...
          br
          button.button-center-underline.float-right Click

  .bg-green
    .container
      p other stuff
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      p asd
