extends layout

block content

  //- Gigantic header background
  .header-background-grey
  //- What is inside the gigantic header background
  .header-content

    //- Navigation bar
    nav.navbar.navbar-default
      .container
        .navbar-header
          //- Button for mobile uncollapse
          button.navbar-toggle.collapsed(
            type='button'
            data-toggle='collapse'
            data-target='#index-navbar'
            aria-expanded='false'
          )
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //-Brand link if needed
          a(href='#').navbar-brand.bc-transition DevFly

        #index-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
          ul.nav.navbar-nav.navbar-right
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link
            li.bg-transition: a(href='#') Link

  .bg-green
    .container
      p other stuff
