include layout.pug

body
  include navbar.pug
  form
    input(type="text", placeholder="Username", class="input", name = username)
    input(type="password", placeholder="Contraseña", class="input", name = password)
    br
    br
    center
      button(type="submit") Registrarse
.col-xs-0.col-sm-0.col-lg-1
