.navbar
  .container
    ul
      li.left.brand: a(href="#") DevFly
      li.right: a(href="#") Link
      li.right: a(href="#") Link
      li.right: a(href="#") Link
      li.right: a(href="#") Link
